@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mina:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* body {
  margin: 6rem 0 0 0;
  padding: 0;
  background-color: #58c7fd;
}


