@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Mina:wght@400;700&display=swap');

/* Login & Register Form */
.main {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 30px;
  color: #58c7fd;
  font-family: 'Bungee Spice', sans-serif;
  font-weight: bold;
  font-size: 42px;
}

.username {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Mina', sans-serif;
}

form.form1 {
  padding-top: 30px;
}

.password {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
  margin-left: 46px;
  text-align: center;
  font-family: 'Mina', sans-serif;
}

.username:focus,
.password:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submitBtn {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #25a8ea, lightblue);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Mina', sans-serif;
  margin-left: 35%;
  font-size: 16px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
  transition: transform 0.4s;
}

.submitBtn:hover {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: tomato;
  text-decoration: none;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

.formText {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Mina', sans-serif;
  color: rgb(38, 50, 56);
}

.here {
  color: #58c7fd;
}
.here:hover {
  color: tomato;
}

.formError {
  color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mina', sans-serif;
}

/*  Post Container */
.profileContainer {
  display: flex;
  padding: 15px;
  font-size: 36px;
}

.createPostContainer {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 6rem;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.282);
}

.CreatePostInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 0.5rem;
}
.createPostInput {
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  width: 100%;
  font-family: 'Mina', sans-serif;
  padding-left: 20px;
  background-color: rgb(241, 250, 250);
}

.postsContainer {
  background-color: #ffffff;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: 1px solid gray;
  min-height: 150px;
  display: flex;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.323);
}

.postsVoteContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 30px;
  padding: 10px 5px;
  color: rgb(27, 26, 26);
  text-align: center;
  font-weight: 700;
  font-family: 'Mina', sans-serif;
  background-color: rgb(241, 250, 250);
  border-radius: 5px 0 0 5px;
}

.clickVote {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.clickVote:hover {
  transform: scale(1.1);
}
.commentsBtnContainer {
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}
.commentsBtn {
  color: gray;
  background-color: transparent;
  border: none;
  font-size: 14px;
  word-spacing: 5px;
  height: 30px;
  width: 130px;
  margin-bottom: 2px;
  transition: transform 0.4s;
}

.commentsBtn:hover {
  background-color: #f7772d;
  height: 30px;
  width: 130px;
  margin-bottom: 2px;
  color: black;
  border-radius: 3px;
  transform: scale(1.05);
}

/*  Logout Page */
.logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding: 1rem;
}

.logoutTitle {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #58c7fd;
  font-family: 'Bungee Spice', sans-serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}
.logoutBtn,
.loginAgain,
.subBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #25a8ea, lightblue);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Mina', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
  transition: transform 0.4s;
}

.logoutBtn:hover,
.loginAgain:hover,
.subBtn:hover {
  text-shadow: 0 2px 4px 2px rgba(117, 117, 117, 0.12);
  color: tomato;
  transform: scale(1.05);
}

.logoutImg {
  padding-bottom: 30px;
}

.logContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.errorText {
  text-align: center;
  margin-bottom: 30px;
}

/* Subreddit Page */
.mainSubContainer {
  display: flex;
  flex-direction: column;
}

.subredditTitle {
  font-family: 'Bungee Spice', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  text-align: center;
  text-shadow: 2px 12px 4px 2px rgba(0, 0, 0, 0.719);
}
.subFormContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  background-color: #ffffff;
  width: 900px;
  height: 100px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5em;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.formTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.06em;
}
.formInput {
  display: flex;
  align-items: center;
  font-family: 'Mina', sans-serif;
  color: black;
  font-size: 18px;
}

.label {
  font-family: 'Mina', sans-serif;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: #ff6347;
}
.input {
  font-family: 'Mina', sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  margin-right: 50px;
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.formBtn {
  display: flex;
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #25a8ea, lightblue);
  border: 0;
  padding: 5px 20px;
  font-family: 'Mina', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
  transition: transform 0.4s;
  margin-left: 40px;
}

.formBtn:hover {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: tomato;
  text-decoration: none;
  transform: scale(1.1);
}

@media (min-width: 400px) and (max-width: 1060px) {
  .subredditTitle {
    font-family: 'Bungee Spice', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    text-align: center;
    text-shadow: 2px 12px 4px 2px rgba(0, 0, 0, 0.719);
  }
  .subFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .formTitle {
    display: flex;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.06em;
  }
  .formInput {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Mina', sans-serif;
    color: black;
    font-size: 16px;
  }
  .label {
    display: flex;
    margin-left: 10px;
    text-align: left;
    font-family: 'Mina', sans-serif;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: #ff6347;
  }
  .input {
    display: flex;
    align-items: center;
    
    font-family: 'Mina', sans-serif;
    font-size: 16px;
    letter-spacing: 0.06em;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
  }
  .formBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #25a8ea, lightblue);
    border: 0;
    padding: 5px 20px;
    font-family: 'Mina', sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
    transition: transform 0.4s;
  }
}
.subredditContainer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 1rem 2rem;
  border-radius: 5px;
  padding: 10px;
  height: auto;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
}

.redditLogo {
  display: flex;
  align-items: center;
  margin: 2px 15px 2px 5px;
}

.subredditPostTitle {
  color: #ff6347;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  width: auto;
}

.subredditPostTitle:hover {
  color: #58c7fd;
  cursor: pointer;
}

.subredditName {
  color: #ff6347;
  font-family: 'Mina', sans-serif;
  font-size: 24px;
  width: auto;
}

.subPostTitle {
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}

.subredditSnippet {
  display: flex;
  border-radius: 5px;
  border: 1px solid lightgray;
  text-wrap: wrap;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Mina', sans-serif;
  padding: 5px;
}

.subProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  gap: 10px;
}
.subStats {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Mina', sans-serif;
  font-size: 12px;
  color: gray;
}

/* Login alert*/
.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle at center, #ff6347, #f2d039);
  color: white;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
  font-family: 'Mina', sans-serif;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.559);
  text-shadow: 4px 2px 7px rgba(0, 0, 0, 0.804);
}
